<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/subbudatta/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="subbudatta" />
      <add key="ClearTextPassword" value="1c175845e8b338b6af370c41d762106a5706c176" />
    </github>
  </packageSourceCredentials>
</configuration>